body {
    background-color: $body-base-color;
}
.btn-primary {
    background-color: $blue;
}
.badge-primary {
    background-color: $blue;
    border-radius: 1rem;
}
.btn-danger {
    background-color: $white;
    color: #e3342f;
}
.card-header {
    background-color: $cyan;
    border: none;
}
.card-footer {
    background-color: $white;
}
.col-md-8offset-md-4{
    &::before {
      font-weight:900;
     }
  }
  html, body {
    background-color: $white;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}